{% extends 'network/layout.html'%}
{% block title %}Login{% endblock%}
{% block body %}
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <form method="Post" action="{% url 'login'%}" enctype="multipart/form-data" class="authForm">
        {% csrf_token%}
        <label>Username:</label>
        {{ form.username }}
        <label>Password:</label>
        {{ form.password }}
        <br>
        <input type="submit" class="btn btn-primary" value="login">
        <br>
        <p>Don't have an account?</p><a href="{% url 'register'%}">Register</a>
    </form>
{% endblock %}