{% extends 'network/layout.html'%}
{% block title %}Register{%endblock%}
{% block body%}
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <form method="Post" action="{% url 'register'%}" enctype="multipart/form-data" class="authForm">
        {% csrf_token%}
        <label>Username:</label>
        {{ form.username }}
        <label>Email:</label>
        {{ form.email }}
        <label>Password:</label>
        {{ form.password }}
        <label>Confirm Password:</label>
        {{ form.confirm }}
        <br>
        <input type="submit" class="btn btn-primary" value="register">
        <br>
        <p>Have an account?</p><a href="{% url 'login'%}">Login</a>
    </form>
{% endblock%}